@keyframes puff-bg-in {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    filter: blur(6px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-bg-out {
  0% {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.2);
    filter: blur(6px);
    opacity: 0;
  }
}

@keyframes animloader {
  0% {
    border-color: var(--loader-color-5) var(--loader-color-1) var(--loader-color-2) var(--loader-color-3);
  }
  25% {
    border-color: var(--loader-color-3) var(--loader-color-5) var(--loader-color-1) var(--loader-color-2);
  }
  50% {
    border-color: var(--loader-color-2) var(--loader-color-3) var(--loader-color-5) var(--loader-color-1);
  }
  75% {
    border-color: var(--loader-color-1) var(--loader-color-2) var(--loader-color-3) var(--loader-color-5);
  }
  100% {
    border-color: var(--loader-color-5) var(--loader-color-1) var(--loader-color-2) var(--loader-color-3);
  }
}
