@use "variables" as *;
@use "mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  @include flex(column, center, center);
  padding: 0.6rem;
  min-height: 100dvh;
  background-color: var(--bg-color);
  font-family: $font-body;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: var(--heading-color);
}

body,
main,
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
input {
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.hidden {
  display: none !important;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
