@use "variables" as *;

:root,
/* Dark Theme (Default) */
[data-theme="dark"] {
  /* Global / Page */
  --bg-color: #{$grey-500};
  --heading-color: #{$yellow-200};

  /* Main Card */
  --form-bg: #1f1f1f75;
  // --form-shadow: #ffffff10;

  /* Form Wrapper */
  --form-wrapper-bg: transparent;
  --form-wrapper-border: transparent;

  /* Search Input */
  --search-input-bg: #{$grey-800};
  --search-input-focus-bg: #{$grey-800};
  --search-input-text: #{$grey-50};
  --search-input-shadow: #ffffff00;

  /* Dropdown List */
  --item-separator: #{$grey-100};
  --dropdown-item-hover-bg: #{$grey-700};
  --dropdown-bg: #{$purple-500};
  /* Search Button */
  --search-btn-bg: #{$purple-800};
  --search-btn-text: #{$purple-50};
  --search-btn-bg-hover: #{$purple-700};
  --search-btn-text-hover: #{$purple-50};
  --search-btn-bg-active: #{$purple-50};
  --search-btn-text-active: #{$purple-800};
  --search-btn-shadow-tl: #00000000;
  --search-btn-shadow-br: #ffffff00;
  --search-btn-shadow-br-hover: #00000036;
  --search-btn-inset-tl: #00000075;
  --search-btn-inset-br: #ffffff25;
  --search-bus-icon-default: url("../assets/icons/Bus-active.png");
  --search-bus-icon-hover: url("../assets/icons/Bus-active.png");
  --search-bus-icon-active: url("../assets/icons/Bus-default.png");

  /* Theme Toggle Button */
  --btn-bg: #{$grey-700};
  --btn-border: #{$grey-700};

  /* Results */
  --results-heading-color: #{$grey-50};
  --line-icon: url(../assets/icons/line-dark.png);
  --card-bg: #{$grey-700};
  --card-shadow: #ffffff00;
  --badge-color: #{$purple-500};
  --badge-bg: #{$purple-50};
  --line-start-color: #{$grey-50};
  --station-icon: url(../assets/icons/station-dark.png);

  /* Loader */
  --loader-color-1: #{$purple-900};
  --loader-color-2: #{$purple-700};
  --loader-color-3: #{$purple-500};
  --loader-color-4: #{$yellow-300};
  --loader-color-5: #{$yellow-500};

  /* Lines & Circuit */
  --separator-line: #{$purple-500};
  --separator-bg: #{$purple-50};
  --circuit-line-color: #{$purple-500};
  --circuit-station-text: #{$grey-50};
  --circuit-terminal-bg: #{$purple-50};
  --circuit-terminal-border: #{$purple-500};
  --circuit-terminal-text: #{$purple-500};
  --circuit-terminal-icon: #{$purple-500};
  --circuit-node-bg: #{$purple-50};
  --circuit-node-border: #{$purple-500};
  --circuit-node-icon: #{$purple-500};
  --circuit-dot-bg: #{$yellow-300};
  --circuit-dot-glow: #{$yellow-300}aa;
}

/* Light Theme */
[data-theme="light"] {
  /* Global / Page */
  --bg-color: #{$alabaster-200};
  --heading-color: #{$grey-600};

  /* Main Card */
  --form-bg: #{$alabaster-200};
  --form-shadow: #00000008;

  /* Form Wrapper */
  --form-wrapper-bg: transparent;
  --form-wrapper-border: transparent;

  /* Search Input */
  --search-input-bg: #{$alabaster-300};
  --search-input-focus-bg: #{$yellow-50};
  --search-input-text: #{$grey-900};
  --search-input-shadow: #00000012;

  /* Dropdown List */
  --item-separator: #{$grey-100};
  --dropdown-item-hover-bg: #{$yellow-100};
  --dropdown-bg: #{$yellow-500};

  /* Search Button */
  --search-btn-bg: #{$purple-50};
  --search-btn-text: #{$purple-500};
  --search-btn-bg-hover: #d5bad150;
  --search-btn-text-hover: #{$purple-700};
  --search-btn-bg-active: #{$purple-800};
  --search-btn-text-active: #{$purple-50};
  --search-btn-shadow-tl: #ffffff80;
  --search-btn-shadow-br: #00000012;
  --search-btn-shadow-br-hover: #00000036;
  --search-btn-inset-tl: #00000075;
  --search-btn-inset-br: #ffffff75;
  --search-bus-icon-default: url("../assets/icons/Bus-default.png");
  --search-bus-icon-hover: url("../assets/icons/Bus-hover.png");
  --search-bus-icon-active: url("../assets/icons/Bus-active.png");

  /* Theme Toggle Button */
  --btn-bg: #{$alabaster-300};
  --btn-border: #{$alabaster-300};

  /* Results */
  --results-heading-color: #{$grey-300};
  --line-icon: url(../assets/icons/line-light.png);
  --card-bg: #{$alabaster-100};
  --card-shadow: #00000008;
  --badge-color: #{$yellow-600};
  --badge-bg: #{$yellow-50};
  --line-start-color: #{$grey-900};
  --station-icon: url(../assets/icons/station-light.png);

  /* Loader */
  --loader-color-1: #{$purple-100};
  --loader-color-2: #{$purple-300};
  --loader-color-3: #{$purple-500};
  --loader-color-4: #{$yellow-400};
  --loader-color-5: #{$yellow-600};

  /* Lines & Circuit */
  --separator-line: #{$yellow-500};
  --separator-bg: #{$yellow-50};
  --circuit-line-color: #{$yellow-500};
  --circuit-station-text: #{$grey-900};
  --circuit-terminal-bg: #{$yellow-50};
  --circuit-terminal-border: #{$yellow-500};
  --circuit-terminal-text: #{$yellow-500};
  --circuit-terminal-icon: #{$yellow-500};
  --circuit-node-bg: #{$yellow-50};
  --circuit-node-border: #{$yellow-500};
  --circuit-node-icon: #{$yellow-500};
  --circuit-dot-bg: #{$yellow-500};
  --circuit-dot-glow: #{$yellow-500}88;
}
