@use "../base/variables" as *;
@use "../base/mixins" as *;

// Theme btn
.theme-toggle {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  @include flex(row, center, center);
  border: none;
  font-size: 2.4rem;
  color: var(--heading-color);
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
}

// Search button
.search-btn {
  width: 100%;
  @include flex(row, center, center);
  position: relative;
  overflow: hidden;
  isolation: isolate;
  cursor: pointer;
  border-radius: 2.5rem;
  padding: 1.2rem;
  border: none;
  background-color: var(--search-btn-bg);
  color: var(--search-btn-text);
  font-weight: 600;
  letter-spacing: 4%;
  box-shadow:
    -2px -2px 6px var(--search-btn-shadow-tl),
    2px 2px 6px var(--search-btn-shadow-br);
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease;

  // Slide background effect
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    background-color: var(--search-btn-bg-hover);
    transition:
      left 0.35s ease,
      background-color 0.3s ease;
    z-index: -1;
  }

  span,
  i,
  .search-icon {
    position: relative;
    z-index: 2;
  }

  &:hover {
    color: var(--search-btn-text-hover);

    &::before {
      left: 0;
      background-color: var(--search-btn-bg-hover);
    }

    .search-icon {
      background-image: var(--search-bus-icon-hover);
      left: 65%;
    }
  }

  &:active {
    transform: scale(0.95);
    color: var(--search-btn-text-active);
    box-shadow:
      inset 2px 2px 6px var(--search-btn-inset-tl),
      inset -2px -2px 8px var(--search-btn-inset-br);

    &::before {
      left: 0;
      background-color: var(--search-btn-bg-active);
    }

    .search-icon {
      background-image: var(--search-bus-icon-active);
    }
  }

  .search-icon {
    position: absolute;
    left: 60%;
    display: inline-block;
    width: 2.8rem;
    height: 1.6rem;
    background-image: var(--search-bus-icon-default);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }
}
