@use "../base/variables" as *;
@use "../base/mixins" as *;

header {
  width: clamp(280px, 100%, 432px);
  padding: 1.8rem 1.2rem;
}

main {
  @include flex(column, center, center);
  width: clamp(280px, 100%, 432px);
  gap: 0.6rem;
  padding: 3.6rem 1.2rem;
  border-radius: 1.5rem;
  background-color: var(--form-bg);
  box-shadow: 0 0 8px 4px var(--form-shadow);

  .heading {
    width: 100%;
    @include flex(row, space-between, center);

    &__title {
      letter-spacing: 4%;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

  .form-wrapper {
    width: 100%;
    padding: 2.4rem 0rem;
    @include flex(column, center, center);
    gap: 1.8rem;
    background-color: var(--form-wrapper-bg);
    border: 1px solid var(--form-wrapper-border);
    border-radius: 1.5rem;
  }

  @media screen and (min-width: 390px) {
    padding: 3.6rem 2.4rem;
    .heading {
      &__title {
        font-size: 2rem;
      }
    }
  }
}
